.row1 {
    background-color: rgb(100, 100, 100);
    border: 10px solid rgb(100, 100, 100);
    text-align: center;
    font-size: 170%;
    font-family: "Roboto", sans-serif;
    width: 70px;
    height: 70px;
    color: white;
    font-weight: bold;


}
.row1:hover{
    background-color: rgb(181, 177, 177);
    border:  rgb(181, 177, 177);
    cursor: grab;
}

.header {
    background-color: #c0bca4;
    border: 4px solid #848880;
    text-align: right;
    font-size: 60px;
    width: 452px;
    height: 70px;
    gap: 5px;

}

.main-container {
    border: 15px solid rgb(49, 49, 49);
    width: fit-content;
    background-color: rgb(49, 49, 49);
    justify-content: center;

}

.row2 {
    background-color: rgb(158, 158, 158);
    border: 10px solid rgb(158, 158, 158);
    text-align: center;
    font-size: 170%;
    font-family: "Roboto", sans-serif;
    width: 70px;
    height: 70px;
    color: white;
}
.row2:hover:hover{
    background-color: rgb(76, 76, 76);
    border:  rgb(76, 76, 76);
    cursor: grab;
}
.solve-button{
    background-color: #ff6c04;
    border: 10px solid #ff6c04;
    text-align: center;
    font-size: 250%;
    font-family: "Roboto", sans-serif;
    width: 70px;
    height: 70px;
    color: white;
}
.solve-button:hover{
    background-color: #ff8936;
    border:  #ff8936;
    cursor: grab;
}
.calculator{
    font-family: "Roboto", sans-serif;
    font-size: 200%;
    text-align: center;
    font-weight: bold;
}
.content{
    display: flex;
    justify-content: center;
}